.texts__section-container,
.title__section-container{
    max-width: 55%;
    margin: 5% 45% 5% 10%;
    .texts__section-content{
        font-family: 'Roboto Thin';
        font-size: 18px;
        color: black;

    }
}